/01_hello.py
/02_chap_harry.py
/02_operators.py
/03_chap_harry.py
/04_chap_harry.py
/05_chap_harry.py
/05_chap_set_harry.py
/06_chap_harry.py
/07_chap_harry.py
/08_chap_fun_harry.py
/09_chap_io.py
/10_chap_obj.py
/areaoftriangle.py
/cs50_questionset
/hacker.py
/hiscore.txt
/intro.py
/labclg.py
/log.txt
/multable
/play.mp3
/poems.txt
/pr_01.py
/pr_02.py
/pr_03.py
/pr_04.py
/pr_05.py
/pr_06.py
/pr_07.py
/pr_08.py
/pr_09.py
/pr_10.py
/python notes CHW.pdf
/Python Tutorial For Beginners In Hindi (With Notes) _fire_ ( 480 X 854 ).mp4
/renamed_by_pyhton.txt
/sample.txt
/sqrt.py
/tempCodeRunnerFile.py
/this.txt